@model Projet2_EasyFid.Models.Mission
@{
    Layout = "_Layout";
    
}
<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width =device-with"/>
        <title>Modifier Mission</title>
    </head>
<body>
    @*on pourra passer des parametres dans begin form par la suite*@
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Modifier une mission</legend>
        @Html.LabelFor(m => Model.Name)
        @Html.TextBoxFor(m => Model.Name)
        @*@Html.ValidationMessage(m => Model.Name)*@
        <br/>
        @Html.LabelFor(m => Model.MissionStart)
        @Html.TextBoxFor(m => Model.MissionStart)
        @*@Html.ValidationMessage(m => Model.MissionStart)*@
        <br/>
        @Html.LabelFor(m => Model.MissionEnd)
        @Html.TextBoxFor(m => Model.MissionEnd)
        @*@Html.ValidationMessage(m => Model.MissionEnd)*@
        <br />
        @Html.LabelFor(m => Model.MissionType)
        @Html.TextBoxFor(m => Model.MissionType)
        @*@Html.ValidationMessage(m => Model.MissionType)*@
        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
}
   
</body>
</html>