@model Projet2_EasyFid.Models.User;
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire Utilisateur";
}

    <h2>Création d'un profil utilisateur</h2>

@*On crée le début du formulaire ici pour que le même formulaire puisse être utilisé dans le controller Salarie*@
@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
   <fieldset>
       <legend>Ajout</legend>
       @Html.Partial("UserPartialForm", Model)

       @foreach (var item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.RoleTypeEnum)))
       {
           <div>
               <input type="checkbox" name="RoleType" value=@item />
               <label>@item</label>
           </div>
       }

       @*<div>
           <input type="checkbox" id=1 name="RoleType" value="@(Projet2_EasyFid.Data.Enums.RoleTypeEnum.ADMIN.ToString())" />
           <label>Admin</label>
       </div>
       <div>
           <input type="checkbox" id=2 name="RoleType" value="@(Projet2_EasyFid.Data.Enums.RoleTypeEnum.SALARIE.ToString())" />
           <label>Salarié</label>
       </div>
       <div>
           <input type="checkbox" id=3 name="RoleType" value="@(Projet2_EasyFid.Data.Enums.RoleTypeEnum.MANAGER.ToString())" />
           <label>Manager</label>
       </div>*@



       <input type="submit" value="Ajouter" />
   </fieldset>
}