@model Projet2_EasyFid.Models.User;
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire Utilisateur";
}

    <h2>Création d'un profil utilisateur</h2>

@*On crée le début du formulaire ici pour que le même formulaire puisse être utilisé dans le controller Salarie*@
@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
   <fieldset>
       <legend>Ajout</legend>
       @Html.Partial("UserPartialForm", Model)

       @Html.Label("Password", "Mot de passe : ")
       @Html.PasswordFor(m => m.Password)

       @foreach (var item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.RoleTypeEnum)))
       {
           <div>
               <input type="checkbox" name="RoleType" value=@item />
               <label>@item</label>
           </div>
       }

       @Html.Label("JobEnum", "Intitulé du poste : ")
       <select name="JobEnum">
           @foreach (var item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.JobEnum)))
           {
               <option name="JobEnum" value=@item>@item</option>
           }
       </select>

       @Html.Label("company", "Entreprise : ")
       @Html.DropDownList("company", new SelectList(ViewBag.companies, "Id", "Name"))
       @Html.Label("manager", "Manager : ")
       @Html.DropDownList("manager", new SelectList(ViewBag.userDatas, "Id", "Lastname"))


       <input type="submit" value="Ajouter" />
   </fieldset>
}