@model Projet2_EasyFid.ViewModels.UserListViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "AdminAccueil";
}

@Html.ActionLink("Ajouter un utilisateur", "CreateUser", "Admin", new {@class="btn btn-success"})
<table id="users">
    <tr>
        <th>Login</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Créé le</th>
        <th colspan="4">Actions</th>
    </tr>
    @foreach (var user in @Model.Users)
    {
        <tr>
            <td>@user.Login</td>
            <td>@user.UserData.Lastname</td>
            <td>@user.UserData.Firstname</td>
            <td>@user.CreationDate.ToString("dd/MM/yyyy")</td>
            <td>@Html.ActionLink("Détails", "UserDetail", "Admin", new { id = user.Id })</td>
            <td>@Html.ActionLink("Modifier", "ModifyUser", "Admin", new { id = user.Id })</td>
            <td>@Html.ActionLink("Modifier MDP", "ModifyPassword","Admin", new { id= user.Id })</td>
            <td>@Html.ActionLink("Supprimer","DeleteUser","Admin", new { id = user.Id })</td>
        </tr>
    }
</table>