@model Projet2_EasyFid.ViewModels.UserListViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "AdminAccueil";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<h2>Bienvenue dans votre espace utilisateur</h2>

@Html.ActionLink("Ajouter un utilisateur", "CreateUser", "Admin", null, new {@class="btn btn-success"})
<table id="users">
    <tr>
        <th>Login</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Créé le</th>
        <th colspan="4">Actions</th>
    </tr>
    @foreach (var user in @Model.Users)
    {
        <tr>
            <td>@user.Login</td>
            <td>@user.UserData.Lastname</td>
            <td>@user.UserData.Firstname</td>
            <td>@user.CreationDate.ToString("dd/MM/yyyy")</td>
            <td>@Html.ActionLink("Détails", "UserDetail", "Admin", new { id = user.Id })</td>
            <td>@Html.ActionLink("Modifier", "ModifyUser", "Admin", new { id = user.Id })</td>
            <td>@Html.ActionLink("Modifier MDP", "ModifyPassword","Admin", new { id= user.Id })</td>
            <td>@Html.ActionLink("Supprimer","DeleteUser","Admin", new { id = user.Id })</td>
        </tr>
    }
</table>