@model Projet2_EasyFid.Models.User
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire Utilisateur";
}

<h2>Edition du profil de @Model.UserData.Firstname @Model.UserData.Lastname</h2>


@*On crée le début du formulaire ici pour que le même formulaire puisse être utilisé dans le controller Salarie*@
@using (Html.BeginForm("ModifyUser", "Admin", FormMethod.Post))
{
    <fieldset>
        <legend>Modification </legend>
        @Html.Partial("UserPartialForm", Model)

        @Html.Label("Password", "Mot de passe : ")
        @Html.PasswordFor(m => m.Password)

        @foreach (Projet2_EasyFid.Data.Enums.RoleTypeEnum item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.RoleTypeEnum)))
        {
            bool isChecked = false;
            @foreach (var role in ViewBag.rolesUser)
            {
                if (role.RoleType == item)
                {
                    isChecked = true;
                    break;
                }
            }
            <div>
                <input type="checkbox" name="RoleType" id="@item" value=@item checked=@isChecked />
                <label>@item</label>
            </div>
        }

        @Html.Label("JobEnum", "Intitulé du poste : ")
        <select name="JobEnum">
            @foreach (Projet2_EasyFid.Data.Enums.JobEnum item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.JobEnum)))
            {
                bool isSelected = false;
                if (item == Model.JobEnum) { isSelected = true; }
                <option name="JobEnum" value=@item selected=@isSelected>@item</option>
            }
        </select>
        <input type="submit" value="Modifier" />
    </fieldset>
}
