@model Projet2_EasyFid.Models.User
@{
    Layout = "_Layout";
    ViewBag.Title = "Changement MDP utilisateur";
}

<h2>Edition du mot de passe de @Model.UserData.Firstname @Model.UserData.Lastname</h2>

@using (Html.BeginForm("ModifyPassword", "Admin", FormMethod.Post))
{
    <fieldset>
        <legend>Modification </legend>

        @Html.Label("Password", "Mot de passe : ")
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <input type="submit" value="Valider" />

    </fieldset>
}
