<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
    </style>
</head>
<body>
    <div>


        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">
                <img src="/assets/image/logoEasyFid.png" width="30" height="30" alt="">
                </a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">

                        <li class="active"><a href="#">Accueil</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Logout", "Login")"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <p>DASHBOARD</p>
                    <a href="@Url.Action("SeeCurrentUserFeedback","Salarie")">Retour de missions</a>
                    <br />
                    <br />
                    <p>CRA</p>
                    <p><a href="#">A remplir</a></p>
                    <p><a href="#">En attente</a></p>
                </div>

                <div class="col-sm-8 text-left">
                  
                    <hr>
                    @RenderBody()
                    <br />

                </div>

                @*Espace réservé au notifications qu'il faudra paramétrer*@
                <div class="col-sm-2 sidenav" id="notifications">


                   
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p>EasyFid-2023</p>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="/Scripts/NotificationScript.js"></script>
</body>
</html>