@model List<Projet2_EasyFid.ViewModels.CraDetailViewModel>
@{
    Layout = "_Layout";
    ViewBag.Title = "Détail Cra";
}
<h2>Détail du CRA de @ViewBag.cra.User.UserData.Firstname @ViewBag.cra.User.UserData.Lastname</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 taille">
            <ul class="list-group">
                <li class="list-group-item">Date de création : @ViewBag.cra.CreatedAt.ToString("dd/MM/yy")</li>
                <li class="list-group-item">Date de modification : @ViewBag.cra.UpdatedAt.ToString("dd/MM/yy")</li>
                <li class="list-group-item">Etat : @ViewBag.cra.StateCra</li>
            </ul>
            @if (Model.Count > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">Activités</div>
                    <ul class="list-group">
                        @foreach (var craDetailViewModel in Model)
                        {
                            <li class="list-group-item">
                                <strong>@craDetailViewModel.Activity.LabelActivity</strong>
                                <ul class="list-unstyled">
                                    @foreach (var activityDate in craDetailViewModel.ActivityDates)
                                    {
                                        <li>Date de début : @activityDate.BeginDate.ToString("dd/MM/yy")</li>
                                        <li>Date de fin : @activityDate.EndDate.ToString("dd/MM/yy")</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            }
            <button type="button" class="btn btn-primary" onclick="history.back();">
                <i class="fas fa-arrow-left"></i> Retour
            </button>
        </div>
    </div>
</div>
