@model List<Projet2_EasyFid.ViewModels.CraDetailViewModel>
@{
    Layout = "_Layout";
    ViewBag.Title = "Détail Cra";
}


<h2>Détail du CRA de @ViewBag.cra.User.UserData.Firstname @ViewBag.cra.User.UserData.Lastname </h2>
<ul>
    <li>Date de création : @ViewBag.cra.CreatedAt.ToString("dd/MM/yy")</li>
    <li>Date de modification : @ViewBag.cra.UpdatedAt.ToString("dd/MM/yy")</li>
    <li>Etat : @ViewBag.cra.StateCra</li>

    @if (Model.Count > 0)
        {
        <br />
        <p>Activités : </p>
        <ul>
            @foreach (var craDetailViewModel in Model)
                {
                <li>@craDetailViewModel.Activity.LabelActivity</li>
                    foreach (var activityDate in craDetailViewModel.ActivityDates)
                    {
                    <ul>
                        <li>Date de début : @activityDate.BeginDate.ToString("dd/MM/yy")</li>
                        <li>Date de fin : @activityDate.EndDate.ToString("dd/MM/yy")</li>
                    </ul>
                    }
                }
        </ul>
        }
</ul>

<button type="button" class="btn btn-primary" onclick="history.back();">
    <i class="fas fa-arrow-left"></i> Retour
</button>