@using Microsoft.AspNetCore.Http;
@using Projet2_EasyFid.Models;
@using Projet2_EasyFid.Data;
@model Projet2_EasyFid.ViewModels.SalarieViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "SalarieAccueil";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<h2>Bienvenue dans votre espace utilisateur</h2>

<table id="cras" border="1">

<a href="@Url.Action("CreateCra")" class="btn btn-success">Ajouter</a>
<table id="cras" border="1" class="center">
    <tr>
        <td>Date de création</td>
        <td>Date de modification</td>
        <td>Status</td>
        <td colspan="3">Actions</td>
    </tr>
    @foreach (var cra in Model.Cras)
    {
        <tr>
            <td>@cra.CreatedAt.ToString("dd/MM/yyyy")</td>
            <td>@cra.UpdatedAt.ToString("dd/MM/yyyy")</td>
            <td>@cra.StateCra</td>
            @if (cra.StateCra == Projet2_EasyFid.Data.Enums.StateEnum.DRAFT)
            {
                <td>@Html.ActionLink("Modifier", "UpdateCra", "Salarie", new { id = cra.Id })</td>
                <td>@Html.ActionLink("Valider", "AskForCraValidation", "Salarie", new { id = cra.Id })</td>
                <td>@Html.ActionLink("Détails", "CraDetail", "Salarie", new { id = cra.Id })</td>
            }
            else
            {
                <td colspan="3">@Html.ActionLink("Détails", "CraDetail", "Salarie", new { id = cra.Id })</td>
            }
        </tr>
    }
</table>
