@using Microsoft.AspNetCore.Http;
@using Projet2_EasyFid.Models;
@using Projet2_EasyFid.Data;
@model Projet2_EasyFid.ViewModels.SalarieViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "SalarieAccueil";
}


<h2>Bienvenue dans votre espace utilisateur</h2>


<a href="@Url.Action("CreateCra")" class="btn btn-success">Ajouter un CRA</a>


<table id="cras" border="1" class="center">
    <tr>
        <td>Date de création</td>
        <td>Date de modification</td>
        <td>Status</td>
        <td colspan="3">Actions</td>
    </tr>
    @foreach (var cra in Model.Cras)
    {
        <tr>
            <td>@cra.CreatedAt.ToString("dd/MM/yyyy")</td>
            <td>@cra.UpdatedAt.ToString("dd/MM/yyyy")</td>
            <td class="@GetCraStatusClass(cra.StateCra)">@cra.StateCra</td>
            @if (cra.StateCra == Projet2_EasyFid.Data.Enums.StateEnum.DRAFT)
            {
                <td>@Html.ActionLink("Modifier", "UpdateCra", "Salarie", new { id = cra.Id })</td>
                <td>@Html.ActionLink("Valider", "AskForCraValidation", "Salarie", new { id = cra.Id })</td>
                <td>@Html.ActionLink("Détails", "CraDetail", "Salarie", new { id = cra.Id })</td>
            }
            else
            {
                <td colspan="3">@Html.ActionLink("Détails", "CraDetail", "Salarie", new { id = cra.Id })</td>
            }
        </tr>
    }
</table>


@functions {
    private string GetCraStatusClass(Projet2_EasyFid.Data.Enums.StateEnum state)
    {
        if (state == Projet2_EasyFid.Data.Enums.StateEnum.VALIDATED)
        {
            return "status-green";
        }
        else if (state == Projet2_EasyFid.Data.Enums.StateEnum.INHOLD)
        {
            return "status-orange";
        }
        else if (state == Projet2_EasyFid.Data.Enums.StateEnum.DRAFT)
        {
            return "status-blue";
        }
        else
        {
            return "";
        }
    }
}

