@model List<Projet2_EasyFid.Models.MissionUser>
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Création UserFeedback";
}

<h2>Page des Userfeedback</h2>

@for (int i = 0; i < Model.Count; i++)
    {
        <h3>@Model[i].Mission.Name</h3>

        @Html.Label("comment-" + i, "Commentaire sur la mission")
        @Html.TextAreaFor(m => m[i].UserFeedback.Comment, new { @Name = "comment" + i })

        int gradeClientRelation = (Model[i].UserFeedback != null) ? Model[i].UserFeedback.GradeClientRelation : 0;
        int gradeMission = (Model[i].UserFeedback != null) ? Model[i].UserFeedback.GradeMission : 0;
        int gradeManager = (Model[i].UserFeedback != null) ? Model[i].UserFeedback.GradeManager : 0;
        int gradeUserComfort = (Model[i].UserFeedback != null) ? Model[i].UserFeedback.GradeUserComfort: 0;

<div name="MissionGrade">
    <input hidden value="@gradeMission" id="mission" />
    @Html.Label("gradeMission-" + i, "Note Mission")
    @{
        TempData["intKey"] = gradeMission;
        TempData["category"] = "mission";
    }
    @Html.Partial("GoldenStars")
</div>

<div name="ManagerGrade">
    <input hidden value="@gradeManager id="manager" />
    @Html.Label("gradeManager-" + i, "Note Manager")
    @{
        TempData["intKey"] = gradeManager;
        TempData["category"] = "manager";

    }
    @Html.Partial("GoldenStars")
</div>

<div name="ClientRelationGrade">
    <input hidden value="@gradeClientRelation" id="clientRelation" />
    @Html.Label("gradeClientRelation-"+i, "Note Relation Client")
    @{
        TempData["intKey"] = gradeClientRelation;
        TempData["category"] = "clientRelation";
    } 
    @Html.Partial("GoldenStars")
</div>

<div name="UserComfortGrade">
    <input hidden value="@gradeUserComfort id="userComfort" />
    @Html.Label("gradeUserComfort-" + i, "Note Confort Utilisateur")
    @{
        TempData["intKey"] = gradeUserComfort;
        TempData["category"] = "userComfort";
    }
    @Html.Partial("GoldenStars")
</div>

        }