@using Projet2_EasyFid.Data.Enums;
@model Projet2_EasyFid.ViewModels.UserViewModel

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                @if (Model.Authenticated)
                {
                    <h4>
                        Vous êtes déjà authentifié avec le login :
                        @Model.User.Login
                    </h4>
                    <h5>
                        @Html.ActionLink("Souhaitez-vous vous déconnecter ?", "Logout")
                    </h5>
                }

                else
                {
                    <div class="row">
                        <div class="col-md-12 text-center mb-3">
                            <img src="/assets/image/beMyTech.png" alt="Logo" class="img-fluid" style="max-width: 250px;">
                        </div>
                        <div class="col-md-6 offset-md-3">
                            <form method="post">
                                <div class="mb-3">
                                    <label for="login" class="form-label">Login :</label>
                                    @Html.TextBoxFor(m => m.User.Login, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.User.Login, "", new { @class = "text-danger" })
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Mot de passe :</label>
                                    @Html.PasswordFor(m => m.User.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.User.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="mb-3">
                                    <label for="selectedRole" class="form-label">Sélectionnez votre rôle :</label>
                                    @Html.DropDownListFor(m => m.UserRoleViewModel.SelectedRole, new SelectList(Enum.GetValues(typeof(RoleTypeEnum))), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserRoleViewModel.SelectedRole, "", new { @class = "text-danger" })
                                </div>
                                <div class="mb-3">
                                    <input type="submit" value="Se connecter" class="btn btn-primary" />
                                    <br />
                                    @Html.ActionLink("Mot de passe oublié", "ResetPassword")
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>