@model Projet2_EasyFid.Models.Formation
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire création d'une formation";
}

@using (Html.BeginForm("CreateFormation", "Manager", FormMethod.Post))
{
    <fieldset>
        <legend>Création de la formation</legend>
        @Html.LabelFor(f => Model.Name)
        @Html.TextBoxFor(f => Model.Name)
        @Html.ValidationMessageFor(f => Model.Name)
        <br />
        @Html.LabelFor(f => Model.NbOfDays)
        @Html.TextBoxFor(f => Model.NbOfDays)
        @Html.ValidationMessageFor(f => Model.NbOfDays)
        <br />
        @Html.Label("LocationFormation", "Lieu de formation : ")
        <select name="LocationFormationEnum">
            @foreach (var item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.LocationFormationEnum)))
            {
                <option name="LocationFormationEnum" value=@item>@item</option>
            }
        </select>
        <br />
        @Html.LabelFor(f => Model.Description)
        @Html.TextBoxFor(f => Model.Description)
        @Html.ValidationMessageFor(f => Model.Description)
        <br />
        <input type="submit" value="Valider" />
    </fieldset>
}
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

