@model Projet2_EasyFid.Models.Formation
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire création d'une formation";
}

@using (Html.BeginForm("CreateFormation", "Manager", FormMethod.Post))
{
    <fieldset>
        <legend>Création de la formation</legend>
        @Html.LabelFor(f => Model.Name)
        @Html.TextBoxFor(f => Model.Name)
        @Html.ValidationMessageFor(f => Model.Name)
        <br />
        @Html.LabelFor(f => Model.NbOfDays)
        @Html.TextBoxFor(f => Model.NbOfDays)
        @Html.ValidationMessageFor(f => Model.NbOfDays)
        <br />
        @Html.Label("LocationFormation", "Lieu de formation : ")
        <select name="LocationFormation">
            @foreach (var item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.LocationFormationEnum)))
            {
                <option name="LocationFormation" value=@item>@item</option>
            }
        </select>
        <br />
        @Html.Label("FormationStatus", "Statut de la formation : ")
        <select name="FormationStatus">
            @foreach (var item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.FormationStatusEnum)))
            {
                <option name="FormationStatus" value=@item>@item</option>
            }
        </select>
        <br />

        @Html.LabelFor(f => Model.Description)
        @Html.TextAreaFor(f => Model.Description)
        @Html.ValidationMessageFor(f => Model.Description)
        <br />
        @Html.LabelFor(f => Model.Location)
        @Html.TextBoxFor(f => Model.Location)
        @Html.ValidationMessageFor(f => Model.Location)

        <input type="submit" value="Valider" />
    </fieldset>
}

<button type="button" class="btn btn-primary" onclick="history.back();">
    <i class="fas fa-arrow-left"></i> Retour
</button>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

