@model Projet2_EasyFid.Models.Mission
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire création de la mission";
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width =device-with" />
    <title>Modifier Mission</title>
</head>
<body>
    @using (Html.BeginForm("CreateMission", "Manager", FormMethod.Post))
    {
        <fieldset>
            <legend>Création de la mission</legend>
            @Html.LabelFor(m => Model.Name)
            @Html.TextBoxFor(m => Model.Name)
            @Html.ValidationMessageFor(m => Model.Name)
            <br />
            @Html.LabelFor(m => Model.MissionStart)
            @Html.TextBoxFor(m => Model.MissionStart)
            @Html.EditorFor(m => Model.MissionStart, "yyyy-MM-dd")
            <br />
            @Html.LabelFor(m => Model.MissionEnd)
            @Html.TextBoxFor(m => Model.MissionEnd)
            @Html.EditorFor(m => Model.MissionEnd,"yyyy-MM-dd")
            <br />
            @*Liste déroulante pour choisir le type de contrat*@
            @Html.Label("MissionTypeEnum", "Type de mission : ")
            <select name="MissionTypeEnum">
                @foreach (var item in Enum.GetValues(typeof(Projet2_EasyFid.Data.Enums.MissionTypeEnum)))
                {
                    <option name="MissionTypeEnum" value=@item>@item</option>
                }
            </select>
            <br />

            <br />


            <input type="submit" value="Valider" />
        </fieldset>
    }
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>

