@model Projet2_EasyFid.ViewModels.CraListViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "ManagerAccueil";
}

<button>@Html.ActionLink("Mission", "SeeMissions", "Manager")</button>
<button>@Html.ActionLink("Formation", "SeeFormation", "Manager")</button>
<button>@Html.ActionLink("Indicateurs", "EditDashboard", "Manager")</button>
<h2> Activité de mon équipe</h2>

<table id="cras" border="1">
    <tr>
        <th>Date création</th>
        <th>Date modification</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Statut</th>
        <th>Actions</th>
    </tr>
    @foreach (var cra in @Model.Cras)
    {
        <tr>
            
            <td>@cra.CreatedAt.ToString("dd/MM/yyyy")</td>
            <td>@cra.UpdatedAt.ToString("dd/MM/yyyy")</td>
            <td>@cra.User.UserData.Lastname</td>
            <td>@cra.User.UserData.Firstname</td>
            <td>@cra.StateCra</td>
            <td>@Html.ActionLink("Détails", "CraDetails", "Manager", new { id = cra.Id })</td>
            
        </tr>
    }
</table>