@model Projet2_EasyFid.Models.Formation
@{
    Layout = "_Layout";

}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width =device-with" />
    <title>Mettre à jour formation</title>
</head>
<body>

    @using (Html.BeginForm("UpdateFormation", "Manager", FormMethod.Post))
    {
        <fieldset>
            <legend>Mettre à jour une formation</legend>
            @Html.LabelFor(m => Model.Name)
            @Html.TextBoxFor(m => Model.Name)
            @Html.ValidationMessageFor(m => Model.Name)
            <br />
            @Html.LabelFor(m => Model.FormationStatus)
            @Html.TextBoxFor(m => Model.FormationStatus)
            @Html.ValidationMessageFor(m => Model.FormationStatus)
            <br />
            @Html.LabelFor(m => Model.LocationFormation)
            @Html.TextBoxFor(m => Model.LocationFormation)
            @Html.ValidationMessageFor(m => Model.LocationFormation)
            <br />
            @Html.LabelFor(m => Model.FormationStart)
            @Html.TextBoxFor(m => Model.FormationStart)
            @Html.ValidationMessageFor(m => Model.FormationStart)
            <br />
            @Html.LabelFor(m => Model.FormationEnd)
            @Html.TextBoxFor(m => Model.FormationEnd)
            @Html.ValidationMessageFor(m => Model.FormationEnd)
            <br />
            <input type="submit" value="Modifier" />
        </fieldset>
    }
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>